function TitleView.setView 0
push argument 0
push argument 1
push constant 0
call TitleView.S 3
pop temp 0
push argument 0
push constant 33
add
push argument 1
push constant 0
call TitleView.P 3
pop temp 0
push argument 0
push constant 63
add
push argument 1
push constant 3
sub
push constant 0
call TitleView.A 3
pop temp 0
push argument 0
push constant 96
add
push argument 1
push constant 3
sub
push constant 0
call TitleView.C 3
pop temp 0
push argument 0
push constant 123
add
push argument 1
push constant 3
sub
push constant 0
call TitleView.E 3
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 66
add
push constant 0
call TitleView.I_ 3
pop temp 0
push argument 0
push constant 12
add
push argument 1
push constant 66
add
push constant 0
call TitleView.N_ 3
pop temp 0
push argument 0
push constant 33
add
push argument 1
push constant 66
add
push constant 0
call TitleView.V_ 3
pop temp 0
push argument 0
push constant 54
add
push argument 1
push constant 66
add
push constant 0
call TitleView.A_ 3
pop temp 0
push argument 0
push constant 75
add
push argument 1
push constant 66
add
push constant 0
call TitleView.D_ 3
pop temp 0
push argument 0
push constant 96
add
push argument 1
push constant 66
add
push constant 0
call TitleView.E_ 3
pop temp 0
push argument 0
push constant 117
add
push argument 1
push constant 66
add
push constant 0
call TitleView.R_ 3
pop temp 0
push argument 0
push constant 138
add
push argument 1
push constant 66
add
push constant 0
call TitleView.S_ 3
pop temp 0
push argument 0
push constant 20
sub
push argument 1
push constant 150
add
push constant 0
call TitleView.P2 3
pop temp 0
push argument 0
push argument 1
push constant 150
add
push constant 0
call TitleView.R2 3
pop temp 0
push argument 0
push constant 20
add
push argument 1
push constant 150
add
push constant 0
call TitleView.E2 3
pop temp 0
push argument 0
push constant 40
add
push argument 1
push constant 150
add
push constant 0
call TitleView.S2 3
pop temp 0
push argument 0
push constant 60
add
push argument 1
push constant 150
add
push constant 0
call TitleView.S2 3
pop temp 0
push argument 0
push constant 100
add
push argument 1
push constant 150
add
push constant 0
call TitleView.S2 3
pop temp 0
push argument 0
push constant 120
add
push argument 1
push constant 150
add
push constant 0
call TitleView.P2 3
pop temp 0
push argument 0
push constant 140
add
push argument 1
push constant 150
add
push constant 0
call TitleView.A2 3
pop temp 0
push argument 0
push constant 160
add
push argument 1
push constant 150
add
push constant 0
call TitleView.C2 3
pop temp 0
push argument 0
push constant 180
add
push argument 1
push constant 150
add
push constant 0
call TitleView.E2 3
pop temp 0
push constant 0
return
function TitleView.drawRectangle3 0
push argument 0
push argument 2
push constant 3
call Math.multiply 2
add
push argument 1
push argument 3
push constant 3
call Math.multiply 2
add
push argument 0
push argument 4
push constant 1
add
push constant 3
call Math.multiply 2
add
push argument 1
push argument 5
push constant 1
add
push constant 3
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function TitleView.drawRectangle 0
push argument 0
push argument 2
add
push argument 1
push argument 3
add
push argument 0
push argument 4
push constant 1
add
add
push argument 1
push argument 5
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function TitleView.S 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 4
push constant 4
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 2
push constant 7
push constant 6
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 1
push constant 6
push constant 1
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 0
push constant 6
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 1
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 7
push constant 3
push constant 10
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 9
push constant 5
push constant 11
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 6
push constant 10
push constant 6
push constant 12
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 7
push constant 10
push constant 7
push constant 18
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 8
push constant 11
push constant 8
push constant 17
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 15
push constant 6
push constant 18
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 13
push constant 4
push constant 16
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 17
push constant 4
push constant 17
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.P 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 0
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 6
push constant 11
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 7
push constant 1
push constant 7
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 8
push constant 2
push constant 8
push constant 8
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 12
push constant 3
push constant 18
call TitleView.drawRectangle3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 4
push constant 5
push constant 7
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.A 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 0
push constant 5
push constant 2
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 1
push constant 6
push constant 19
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 1
push constant 10
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 7
push constant 5
push constant 7
push constant 10
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 14
push constant 1
push constant 17
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 7
push constant 14
push constant 7
push constant 17
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 16
push constant 0
push constant 16
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 8
push constant 16
push constant 8
push constant 16
call TitleView.drawRectangle3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 8
push constant 3
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 8
push constant 5
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 13
push constant 4
push constant 19
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 15
push constant 5
push constant 15
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.C 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 0
push constant 6
push constant 0
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 1
push constant 7
push constant 1
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 3
push constant 1
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 2
push constant 5
push constant 4
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 6
push constant 2
push constant 8
push constant 7
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 5
push constant 3
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 10
push constant 2
push constant 15
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 14
push constant 6
push constant 15
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 16
push constant 6
push constant 16
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 17
push constant 5
push constant 17
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 18
push constant 4
push constant 19
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.E 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 0
push constant 9
push constant 4
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 5
push constant 4
push constant 11
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 9
push constant 6
push constant 11
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 5
push constant 2
push constant 14
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 10
push constant 1
push constant 14
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 15
push constant 2
push constant 19
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 16
push constant 5
push constant 19
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.I_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 1
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.N_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 1
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 3
push constant 2
push constant 5
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 4
push constant 3
push constant 6
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 0
push constant 5
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.V_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 1
push constant 4
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 0
push constant 5
push constant 4
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 4
push constant 7
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 8
push constant 3
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.A_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 3
push constant 0
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 4
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 3
push constant 2
push constant 4
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 7
push constant 2
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.D_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 3
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 1
push constant 4
push constant 7
call TitleView.drawRectangle3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 2
push constant 2
push constant 7
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.E_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 4
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 1
push constant 4
push constant 4
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 6
push constant 4
push constant 8
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.R_ 0
push argument 0
push argument 1
push argument 2
call TitleView.A_ 3
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 5
push constant 4
push constant 5
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.S_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 3
push constant 0
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 1
push constant 4
push constant 1
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 1
push constant 4
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 3
push constant 5
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 6
push constant 4
push constant 7
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 8
push constant 3
push constant 9
call TitleView.drawRectangle3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 7
push constant 1
push constant 7
call TitleView.drawRectangle3 6
pop temp 0
push constant 0
return
function TitleView.A2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 3
push constant 0
call TitleView.drawRectangle 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 4
push constant 9
call TitleView.drawRectangle 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 3
push constant 2
push constant 4
call TitleView.drawRectangle 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 7
push constant 2
push constant 9
call TitleView.drawRectangle 6
pop temp 0
push constant 0
return
function TitleView.P2 0
push argument 0
push argument 1
push argument 2
call TitleView.A2 3
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 6
push constant 4
push constant 9
call TitleView.drawRectangle 6
pop temp 0
push constant 0
return
function TitleView.R2 0
push argument 0
push argument 1
push argument 2
call TitleView.A2 3
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 5
push constant 4
push constant 5
call TitleView.drawRectangle 6
pop temp 0
push constant 0
return
function TitleView.E2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 4
push constant 9
call TitleView.drawRectangle 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 2
push constant 4
push constant 3
call TitleView.drawRectangle 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 7
push constant 4
push constant 7
call TitleView.drawRectangle 6
pop temp 0
push constant 0
return
function TitleView.S2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 3
push constant 0
call TitleView.drawRectangle 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 1
push constant 4
push constant 1
call TitleView.drawRectangle 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 1
push constant 4
call TitleView.drawRectangle 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 3
push constant 5
call TitleView.drawRectangle 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 6
push constant 4
push constant 7
call TitleView.drawRectangle 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 8
push constant 3
push constant 9
call TitleView.drawRectangle 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 7
push constant 0
push constant 7
call TitleView.drawRectangle 6
pop temp 0
push constant 0
return
function TitleView.C2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 4
push constant 9
call TitleView.drawRectangle 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 2
push constant 4
push constant 7
call TitleView.drawRectangle 6
pop temp 0
push constant 0
return
