// array za THAT
push constant 2048
pop pointer 1

push constant 2
pop that 0
push constant 3
pop that 1
push constant 4
pop that 2
push constant 6
pop that 3
push constant 7
pop that 4
push constant 8
pop that 5
push constant 9
pop that 6

push pointer 1
push static 7
push static 4
call BS.search 3
pop static 0

label END
goto END

function BS.search 3
push constant 0
pop local 0
push argument 1
push constant 1
sub
pop local 1

label LOOP_START
push local 0
push local 1
gt
if-goto NEMA

push local 0
push local 1
add
push constant 2
call BS.div 2
pop local 2

push argument 0
push local 2
add
pop pointer 1
push that 0

push argument 2
eq
if-goto NASAO

push that 0
push argument 2
gt
if-goto LIJEVO

push local 2
push constant 1
add
pop local 0
goto LOOP_START

label LIJEVO
push local 2
push constant 1
sub
pop local 1
goto LOOP_START

label NASAO
push local 2
return

label NEMA   
push constant 1
neg
return

function BS.div 2
push argument 0
push argument 1
pop local 0
pop local 1
push constant 0
pop local 2

label LOOP
push local 0
push local 1
lt
if-goto GOTOVO

push local 0
push local 1
sub
pop local 0

push local 2
push constant 1
add
pop local 2

goto LOOP

label GOTOVO
push local 2
return
